.itp-social-buttons-box {
  width: 100%;
  display: block;
}

.itp-social-buttons-box h4 {
    margin: 10px 0;
}

.itp-sb-left a{
	border: none;
	margin-right: 5px;
}

.itp-sb-right a, .itp-sb-center a{
	border: none;
	margin-left: 5px;
}

.itp-sbb-nl{
  border-top: none;
  border-bottom: none;
}

.itp-sbb-tl{
  border-top: thin solid #808080;
  border-bottom: none;
  padding-top: 5px;
}

.itp-sbb-bl{
  border-top: none;
  border-bottom: thin solid #808080;
  padding-bottom:5px;
}

.itp-sbb-bothl{
  border-top: thin solid #808080;
  border-bottom: thin solid #808080;
  padding-top: 5px;
  padding-bottom:5px;
}

.itp-sb-left{
	padding-top: 10px;
	text-align: left;
}

.itp-sb-right{
    text-align: right;
    padding-top: 10px;
}

.itp-sb-center{
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    padding-top: 10px;
}

.itp-sb-left-side-title {
   display: block;
	width: 10%;
	float: left;
	padding-top: 10px;
}

.itp-sb-left-side-icons {
	display: block;
	float: left;
	width: 89%;
}

.itp-sb-clear-both {
	clear: both;
}